.row
  .btn-group.admin-btn-group aria-label=("Admin links") role="group"
    = link_to 'Manage Posts', admin_posts_path, class: 'btn btn-secondary'
    = link_to 'Manage Users', admin_users_path, class: 'btn btn-secondary'
